---
import Layout from '@layouts/Layout.astro';
import BackgroundProCard from '@components/BackgroundProCard.astro';
import BackgroundEduCard from '@components/BackgroundEduCard.astro';
import BackgroundCertCard from '@components/BackgroundCertCard.astro';

import { CollectionEntry, getCollection } from 'astro:content';
import Timeline from '@components/Timeline.astro';

type Either<A,B> = A | B;
type Article = Either<CollectionEntry<'background'>, CollectionEntry<'cert'>>;

const extractNumbers = (str: string) => str.replace(/\D/g, "");
const dateSort = (str1: string, str2: string) => (str1 < str2) ? 1 : -1;
const getDateField = (md: Article) => {
  if (md.collection === "background")
    return md.data.period;
  return md.data.date;
}
const mdDateSort = (md1: Article, md2: Article) => dateSort(
  extractNumbers(getDateField(md1)),
  extractNumbers(getDateField(md2))
);

const background = await getCollection('background');
const cert = await getCollection('cert');
const articles = [...background, ...cert].sort(mdDateSort);


---

<Layout title="Parcours">
	<div class="m-auto prose">
    <h1>Mon parcours</h1>
    <Timeline>
      {articles.map((md: Article) => {
        if (md.collection === "cert" && md.data.type === "cert") {
          return (
            <BackgroundCertCard
              title={md.data.title}
              date={md.data.date}
              link={md.data.link}
              imgsrc={md.data.imgsrc}
              imgalt={md.data.imgalt}
              desc={md.data.desc}
            ></BackgroundCertCard>
          );
        }

        if (md.collection === "background" && md.data.type === "education") {
          return (
            <BackgroundEduCard
              title={md.data.title}
              period={md.data.period}
              diploma={md.data.diploma!}
              location={md.data.location}
              link={md.data.link}
              imgsrc={md.data.imgsrc}
              imgalt={md.data.imgalt}
              slug={md.slug}
            ></BackgroundEduCard>
          );
        }

        if (md.collection === "background" && md.data.type === "pro") {
          return (
            <BackgroundProCard title={md.data.title}
              period={md.data.period}
              job={md.data.job!}
              location={md.data.location}
              link={md.data.link}
              imgsrc={md.data.imgsrc}
              imgalt={md.data.imgalt}
              slug={md.slug}>
            </BackgroundProCard>
          );
        }
      })
    }
    </Timeline>
	</div>
</Layout>


