---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Contact">
	<div class="prose m-auto">
		<h1>Contact</h1>

    <br/>

    <section>
      <strong class="text-xl">Email</strong> : 
      <a href="mailto:adam.d.e.ambrosino@gmail.com">adam.d.e.ambrosino@gmail.com</a>
    </section>

    <br/>

    <section>
      <strong class="text-xl">Linkedin</strong> : 
      <a href="https://www.linkedin.com/in/adam-ambrosino-7a3b84129/">https://www.linkedin.com/in/adam-ambrosino-7a3b84129/</a>
    </section>

    <br/>

    <section>
      <strong><abbr title="Visit Card">vCard</abbr></strong> : 
      <a href="/assets/Adam_Ambrosino.vcf" download>Télécharger</a>
    </section>
	</div>
</Layout>


