---
// Component Imports
import ProjectCard from '@components/ProjectCard.astro';
import SkillCard from '@components/SkillCard.astro';
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';

const skill = (await getCollection("skills")).find((skill) => skill.data.title.includes("JavaScript"))!;
const project = (await getCollection("projects")).find((project) => project.data.title.includes("Liveboard"))!;

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout title="Accueil">
<style is:inline>
  @media only screen and (min-width: 600px) {
    .hero-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5%;
      grid-template-rows: 1fr;
    }
    .hero-grid > img {
      grid-column: 1;
      height: 100% !important;
      max-width: none;
    }
    .hero-grid > div {
      grid-column: 2;
    }
  }
</style>

<article>

<section class="hero-content flex-col lg:flex-row">
  <img src="./assets/Adam_AMBROSINO.png" loading="lazy" class="max-w-sm rounded-lg shadow-2xl" />
  <div>
    <h1 class="text-5xl font-bold">Adam Dimitry Enzo Ambrosino</h1>
    <h2 class="text-3xl italic">Ingénieur logiciel</h2>
  </div>
</section>

<section class="m-2">
  <p class="p-3">
    <strong>Passionné</strong> par le développement logiciel, je suis un développeur <em>full-stack</em> <em>DevOps</em> <strong>dévoué</strong> et <strong>rigoureux</strong>, ce qui me posuse à fournir un travail de <strong>qualité</strong>. J'ai une solide expérience dans la mise en place et la création d'applications web efficaces.
  </p>

  <p class="p-3">
    Constamment à l'affût des dernières tendances et technologies émergentes, je crois fermement à l'importance de rester à jour pour offrir les meilleures solutions à mes clients.
  </p>

  <p class="p-3">
    J'ai acquis une solide expertise à la fois dans le front-end et le back-end. Je suis à l'aise avec un large éventail de technologies et de langages de programmation, ce qui me permet de créer des solutions complètes et performantes !
  </p>

  <p class="p-3">
    En dehors de mon travail, j'ai deux passions qui m'animent. Tout d'abord, les échecs, que je pratique en compétition. Ce jeu fascinant demande une grande <strong>concentration</strong>, une <strong>réflexion stratégique</strong> et une vision globale, ce qui en fait un excellent moyen de développer mes compétences analytiques et ma capacité à résoudre des problèmes complexes. Ensuite, je suis un amateur de connaissances générales. Je consacre mon temps libre à explorer divers sujets tels que la science, l'histoire des langues, le <em>Game Design</em>, les arts, et bien d'autres encore. J'aime élargir mes horizons et approfondir ma compréhension du monde qui nous entoure.
  </p>

  <p class="p-3">
    Je suis fier de mon parcours professionnel et de mes réalisations, et je suis toujours prêt à relever de nouveaux défis passionnants. Si vous souhaitez en savoir plus sur mes compétences et mes projets antérieurs, n'hésitez pas à explorer mon portfolio. N'hésitez pas à me contacter si vous avez des questions ou des idées à partager.
  </p>
</section>

<ul class="grid md:grid-cols-2 gap-8">
  <li>
    <h2 class="text-xl">Ma meilleure compétence</h2>
    <SkillCard
      title={skill.data.title}
      level={skill.data.level}
      tags={skill.data.tags}
      imgsrc={skill.data.imgsrc}
      imgalt={skill.data.imgalt}
      description={skill.data.description}
      slug={skill.slug}
    ></SkillCard>
  </li>
  <li>
    <h2 class="text-xl">Ma meilleure réalisation</h2>
    <ProjectCard
      imgsrc={project.data.imgsrc}
      imgalt={project.data.imgalt}
      tags={project.data.tags}
      title={project.data.title}
      description={project.data.description}
      slug={project.slug}
    ></ProjectCard>
  </li>
</ul>

</article>
</Layout>