---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import ProjectCard from '@components/ProjectCard.astro';
import Timeline from '@components/Timeline.astro';
import TimelineElement from '@components/TimelineElement.astro';

const projects = await getCollection('projects');
---

<Layout title="Projets">
	<div class="prose m-auto lg:prose-lg">
		<h1>Projets</h1>
		<Timeline>
			{projects.map((project) =>
				<TimelineElement>
          <ProjectCard
            imgsrc={project.data.imgsrc}
            imgalt={project.data.imgalt}
            tags={project.data.tags}
            title={project.data.title}
            description={project.data.description}
            slug={project.slug}
          ></ProjectCard>
        </TimelineElement>
			)}
    </Timeline>
	</div>
</Layout>


