---
import SkillCard from '@components/SkillCard.astro';
import Timeline from '@components/Timeline.astro';
import TimelineElement from '@components/TimelineElement.astro';
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';

const skills = await getCollection("skills");
const humanSkills = skills.filter((skill) => skill.data.tags.includes('humain'));
const technicalSkills = skills.filter((skill) => !humanSkills.includes(skill));
---

<Layout title="Compétences">
	<div class="m-auto prose lg:prose-lg">
		<h1>Compétences</h1>
    <h2>Compétences techniques</h2>
		<Timeline>
			{technicalSkills.map((skill) =>
				<TimelineElement>
          <SkillCard
            title={skill.data.title}
            level={skill.data.level}
            tags={skill.data.tags}
            imgsrc={skill.data.imgsrc}
            imgalt={skill.data.imgalt}
            description={skill.data.description}
            slug={skill.slug}
          ></SkillCard>
        </TimelineElement>
			)}
		</Timeline>
    <h2>Compétences humaines</h2>
		<Timeline>
			{humanSkills.map((skill) =>
        <TimelineElement>
          <SkillCard
            title={skill.data.title}
            level={skill.data.level}
            tags={skill.data.tags}
            imgsrc={skill.data.imgsrc}
            imgalt={skill.data.imgalt}
            description={skill.data.description}
            slug={skill.slug}
          ></SkillCard>
        </TimelineElement>
			)}
		</Timeline>
	</div>
</Layout>


