@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  min-height: 80vh;
  margin: auto;
  text-align: justify;
}

.container {
  max-width: 90%;
}

@media (min-width: 720px) {
  main.container {
    max-width: 100ch;
  }
}

h1,h2,h3,h4,h5,h6,header {
  text-align: start;
}

