---
import { Img } from 'astro-imagetools/components';
import TimelineElement from './TimelineElement.astro';
import ReadMore from './ReadMore.astro';

interface Props {
  title: string,
  date: string,
  link?: string,
  imgsrc: string,
  imgalt: string,
  desc: string
}

const {
  title,
  date,
  link,
  imgsrc,
  imgalt,
  desc,
} = Astro.props;

---
<TimelineElement>
  <section class="card bg-base-200">
    <div class="card-body">
      <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{date}</time>
      <header class="card-title dark:text-white">{title}</header>
      <div style="margin:auto;width:200px" class="p-2">
        <Img style="margin:auto;width:200px" width="200" src={imgsrc} alt={imgalt}/>
      </div>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">{desc}</p>
      {link && <ReadMore link={link}></ReadMore>}
    </div>
  </section>
</TimelineElement>