---
import { Img } from 'astro-imagetools/components';
import ReadMore from '@components/ReadMore.astro';
import TimelineElement from './TimelineElement.astro';

interface Props {
  title: string,
  period: string,
  diploma: string,
  location: string
  link: string,
  imgsrc: string,
  imgalt: string,
  slug: string
}

const {
  title,
  period,
  diploma,
  location,
  link,
  imgsrc,
  imgalt,
  slug
} = Astro.props;

---

<TimelineElement>
  <section class="card bg-base-200">
    <div class="card-body">
      <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{period}</time>
      <header class="card-title dark:text-white">{title}</header>
      <span>Diplôme : {diploma}</span>
      <span>Lieu : {location}</span>
      <a href={link}>
        <div style="margin:auto;width:200px" class="p-2">
          <Img style="margin:auto;width:200px" width="200" src={imgsrc} alt={imgalt}/>
        </div>
      </a>
      <ReadMore link={`/background/${slug}`}></ReadMore>
    </div>
  </section>
</TimelineElement>
