<div class="navbar bg-base-300 sticky top-0 z-10">
  <div class="navbar-start">
    <nav class="dropdown z-10">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 p-2 shadow bg-base-200 rounded-box w-52">
        <li><a href="/projects">Projets</a></li>
        <li><a href="/skills">Compétences</a></li>
        <li><a href="/background">Parcours</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <a href="/" class="btn btn-ghost normal-case text-xl">Adam Ambrosino</a>
  </div>
  <nav class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/projects">Projets</a></li>
      <li><a href="/skills">Compétences</a></li>
      <li><a href="/background">Parcours</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</div>