---
import ReadMore from './ReadMore.astro';

interface Props {
  slug: string,
  tags: string[],
  title: string,
  imgsrc: string,
  imgalt: string,
  description: string
}

const { slug, title, tags, description, imgsrc, imgalt } = Astro.props;
---

<div class="card lg:card-side bg-base-200 shadow-xl">
  <figure class="m-0 lg:m-0 lg:w-1/4">
    <img src={imgsrc} alt={imgalt} class="lg:h-full"/>
  </figure>
  <div class="card-body lg:w-3/4">
    <header class="card-title">
      <a href={`/projects/${slug}`}>{title}</a>
    </header>
    <p>{description}</p>
    <div class="inline-block">
      {tags.map(tag => (
        <div class="badge badge-neutral m-1">{tag}</div>
      ))}
    </div>
    <ReadMore link={`/projects/${slug}`}></ReadMore>
  </div>
</div>