---
import ReadMore from './ReadMore.astro';

interface Props {
  slug: string,
  title: string,
  level: number,
  tags: string[],
  imgsrc: string,
  imgalt: string,
  description: string
}

const { slug, title, level, tags, description, imgsrc, imgalt } = Astro.props;
---

<div class="card lg:card-side bg-base-200 shadow-xl">
  <figure class="m-0 lg:m-0 lg:w-1/4">
    <img src={imgsrc} alt={imgalt} class="lg:h-full"/>
  </figure>
  <div class="card-body lg:w-3/4">
    <header class="card-title">
      <a href={`/skills/${slug}`}>{title}</a>
    </header>
    <progress class="progress progress-success" value={level} max="5"></progress>
    <p>{description}</p>
    <div class="inline-block">
      {tags.map(tag => (
        <div class="badge badge-neutral m-1">{tag}</div>
      ))}
    </div>
    <ReadMore link={`/skills/${slug}`}></ReadMore>
  </div>
</div>
