---
import NavBar from '@components/NavBar.astro';

export interface Props {
	title: string;
}

const { title } = Astro.props;

const canonicalURL = Astro.site!;
const imgUrl = new URL("./assets/Adam_AMBROSINO.png", canonicalURL);
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <base href={canonicalURL.toString()} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="./assets/global.css" />
		<meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Portfolio d'Adam Ambrosino" />
    <meta property="og:site_name" content="Portfolio d'Adam Ambrosino" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={imgUrl.toString()} />
    <meta property="og:image:alt" content="Photo portrait d'Adam Ambrosino." />
    <meta property="og:url" content={canonicalURL.toString()} />
    <meta property="og:locale" content="fr_FR" />
    <meta name="twitter:title" content="Portfolio d'Adam Ambrosino" />
    <meta name="twitter:url" content={canonicalURL.toString()} />
    <meta name="twitter:image:src" content={imgUrl.toString()} />
    <meta name="twitter:image:alt" content="Photo portrait d'Adam Ambrosino." />
		<title>{title}</title>
	</head>
	<body class="terminal">
    <NavBar></NavBar>
    <main class="container p-3">
		  <slot />
    </main>
    <footer class="footer footer-center p-10 bg-base-200 text-base-content">
      <div>
        <p>
          Copyright &copy; Adam Ambrosino 2022-2023
        </p>
      </div>
    </footer>
	</body>
</html>
